<div class="form-row">
    <div class="col-md-6 m-auto pt-5 infos">
        <h1 class="text-center">Bem Vindo ao RIPE</h1>
        <span class="d-flex justify-content-center text-center">Aqui voce conseguirá saber se sua empresa está de acordo com o mercado em relação a analise de
            riscos</span><br>
            <div class="d-flex justify-content-center">
                <a href= "#cadastro" class="btn btn-info col-md-4">Cadastre-se aqui</a>
            </div>
    </div>
    <div class="col-md-6">
        <div class="container p-5">
            <form class="form-signin">
                <h3 class="text-center">Login</h3>
                <div class="text-center">
                    <mat-form-field class="" appearance="outline">
                        <mat-label>Usuário</mat-label>
                        <input matInput placeholder="Usuário">
                    </mat-form-field>
                    <mat-form-field class="" appearance="outline">
                        <mat-label>Senha</mat-label>
                        <input matInput type="password" placeholder="Senha">
                    </mat-form-field>
                    <button class="btn btn-primary col-md-5">Entrar</button>
                    <div class="col-md-12 pb-2">
                        <span>Esqueceu a senha? <a href="#">clique aqui </a></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>