

<app-header-ripe></app-header-ripe>
<div class="container conteudo">
    <div class="form-row mb-5 pt-3">
        <div class="text-center col-md-6">
            <img class="text-center imagem" src="../../../../assets/Imagens/report.jpg" alt="imagem de um trofeu"
                width="500px">
        </div>
        <div class="col-md-6">
            <h1 class="text-center">Relatório de análise de risco</h1><br>
            <h4 class="text-center mb-5">Seguem informações sobre o processo de análise de risco da sua
                organização
            </h4>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6">
            <h5 class="text-center mb-2">Alguns requisitos a serem seguidos para alcançar o próximo nível de maturidade: </h5> <br>
            <div [innerHTML]="resultados?.recomendacoes?.habits"></div>
            <h4 class=" mt-4 text-center">Respostas obtidas (em %)</h4>
            <p-chart type="pie" [data]="pieChart"></p-chart>
        </div>
        <div class="col-md-6">
            <h5 class="text-center">Nível de maturidade do processo de análise de risco</h5>
            <p-chart type="bar" [data]="data" [options]="chartOptions"></p-chart>
            <h4 class="text-center mt-4">Nível da maturidade das empresas brasileiras em análise de risco(em %)</h4>
            <p-chart type="doughnut" [data]="doughnut"></p-chart>
            <div class="mb-4"></div>
        </div>
    </div>

</div>