<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="../../../../../assets/Imagens/logosemtexto.svg" width="30" height="30" class="d-inline-block align-top"
        alt="" loading="lazy">
    <a class="navbar-brand" href="#">RIPE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Questionário</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Resultados</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <a class="nav-link" routerLink="login">Login</a>
        </form>
    </div>
</nav>
<div class="container cabecalho">

    <div class="text-center">
        <img class="col-md-6 logo" src="../../../../../assets/Imagens/logo1.svg" alt="Imagem risco">
    </div>

    <h1 class="text-center pb-5 m-0">Olá, seja bem vindo a plataforma RIPE</h1>
    <div class="col-md-12 form-row pb-5">
        <button class="justify-content-center btn btn-lg btn-info m-auto">Fazer questionário</button>
    </div>
</div>
<div class="container conteudo">
    <div class="form-row mb-5">
        <div class="col-md-6 m-auto">
            <h4 class="m-auto text-center pb-2 pt-3">Análise de risco</h4>
            <span class="m-auto">A gestão de risco é o conjunto de atividades coordenadas que têm o objetivo de
                gerenciar e controlar uma organização em relação a potenciais ameaças, seja qual for a sua
                manifestação.<br>
                A vulnerabilidade existe mesmo que o produto ou serviço oferecido seja diferenciado, a marca seja forte
                e o planejamento exemplar.<br>
                É uma estratégia que envolve um trabalho preventivo de se antecipar a possíveis situações e considerar a
                prática como parte dos processos da empresa.<br>
                Mas inclui também atuar de maneira prescritiva, isto é, quando o risco se manifesta sem ter sido
                previsto.<br>
                Nesse caso, a gestão de risco busca estimular na empresa um comportamento dinâmico, para que ela
                responda com rapidez aos eventos, incertezas e mudanças de cenário.</span>
        </div>
        <img class="col-md-6 metrica" src="../../../../../assets/Imagens/risco.png" alt="Imagem risco">
    </div>
    <div class="form-row mb-5">
        <img class="col-md-6 metrica" src="../../../../../assets/Imagens/cobit.jpg" alt="Imagem risco">
        <div class="col-md-6 m-auto">
            <h4 class="m-auto text-center pb-2">Cobit Framework</h4>
            <span class="m-auto">COBIT é um framework de governança corporativa de TI e possui um vasto repertório de
                processos, indicadores e ferramentas que podem alavancar os níveis de capacidade dos processos de TI e
                de negócio da sua organização. Utilizando técnicas de implementação de modelos de governança e
                gerenciamento de processos de forma eficaz e alinhada com os objetivos estratégicos do negócio.<br>

                O Control Objectives for Information and related Technology (COBIT® ) fornece boas práticas através de
                um modelo de domínios e processos e apresenta atividades em uma estrutura lógica e gerenciável. Essas
                práticas irão ajudar a otimizar os processo em TI, assegurar a entrega dos serviços e prover métricas
                para avaliar o nível de maturidade de acordo com os conceitos descritos pelo framework.</span><br>
            <a href class="justify-content-center mt-3 btn btn-primary"> Descubra mais sobre o COBIT</a>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 m-auto">
            <h4 class="m-auto text-center pb-2">Métodos de avaliação</h4>
            <span class="m-auto">O método de avaliação tem base na escala padrão da ISO/IEC 15504 que consiste em:<br>
                a) N (Não alcançado) – Há pouca ou nenhuma evidência de que os atributos definidos são alcançados no
                processo avaliado. Considera-se que entre 0 e 15% dos quesitos são atendidos.<br>
                b) P (Parcialmente alcançado) – Há alguma evidência do cumprimento dos atributos definidos no processo
                avaliado. Alguns aspectos podem ser imprevisíveis. Considera-se que entre 15% e 50% dos quesitos são
                atendidos.<br>
                c) L (Amplamente – Largely – alcançado) – Há evidência de uma abordagem sistemática, com o alcance
                significativo dos atributos definidos no processo avaliado. Algumas falhas relacionadas aos atributos
                podem existir. Considera-se que entre 50% e 89% dos quesitos são atendidos.<br>
                d) F (Completamente – Fully – alcançado) – Há evidência de uma abordagem sistemática completa, assim
                como o alcance completo dos atributos definidos para o processo avaliado. Não existe falha significante
                relativa aos atributos. Considera-se que mais de 85% dos quesitos são atendidos.<br>
                Nosso questionário é composto por um total de 140 perguntas detalhadas agrupadas por tópicos, onde cada
                tópico se refere a um ponto crucial para a análise de risco, pontos como: áreas específicas da empresa,
                políticas e documentações utilizadas ou gestões específicas adotadas ou não pela organização.</span>
        </div>
        <img class="col-md-6 metrica" src="../../../../../assets/Imagens/graficoPonteiro.png" alt="Imagem risco">
    </div>
</div>