<app-header-ripe></app-header-ripe>
<div class="container conteudo">
    <!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
        {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
    </button> -->
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="primeiroFormGroup">
            <form [formGroup]="primeiroFormGroup">
                <ng-template matStepLabel></ng-template>
                <div class="text-center">
                    <mat-label class="titulos text-center"><strong>{{questoes.survey[0].typeDescription}}</strong></mat-label><br>
                </div>

                <mat-label><strong>Atualmente a organização :</strong></mat-label><br>

                <div *ngFor="let questao of questoes?.survey[0]?.questionDescription"> 
                    <mat-label><strong>{{questao}}</strong></mat-label><br>
                    <mat-radio-group aria-label="Select an option" formControlName="primeiroCtrl">
                        <mat-radio-button (click)="add(1)" value="1">Sim</mat-radio-button><br>
                        <mat-radio-button (click)="add(2)" value="2">Não </mat-radio-button><br>
                        <mat-radio-button (click)="add(3)" value="3">Não se aplica</mat-radio-button><br>
                    </mat-radio-group>
                </div>
                <div>
                    <button mat-button matStepperNext>Próximo</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="segundoFormGroup">
            <form [formGroup]="segundoFormGroup">
                <ng-template matStepLabel></ng-template>
                <div class="text-center">
                    <mat-label class="titulos text-center"><strong>{{questoes.survey[1].typeDescription}}</strong></mat-label><br>
                </div>
                <div *ngFor="let questao of questoes?.survey[1]?.questionDescription"> 
                    <mat-label><strong>{{questao}}</strong></mat-label><br>
                    <mat-radio-group aria-label="Select an option" formControlName="segundoCtrl">
                        <mat-radio-button (click)="add(1)" value="1">Sim</mat-radio-button><br>
                        <mat-radio-button (click)="add(2)" value="2">Não </mat-radio-button><br>
                        <mat-radio-button (click)="add(3)" value="3">Não se aplica</mat-radio-button><br>
                    </mat-radio-group>
                </div>
                 <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="terceiroFormGroup">
            <form [formGroup]="terceiroFormGroup">
                <ng-template matStepLabel></ng-template>
                <div class="text-center">
                    <mat-label class="titulos text-center"><strong>{{questoes.survey[2].typeDescription}}</strong></mat-label><br>
                </div>
                <div *ngFor="let questao of questoes?.survey[2]?.questionDescription"> 
                    <mat-label><strong>{{questao}}</strong></mat-label><br>
                    <mat-radio-group aria-label="Select an option" formControlName="terceiroCtrl">
                        <mat-radio-button (click)="add(1)" value="1">Sim</mat-radio-button><br>
                        <mat-radio-button (click)="add(2)" value="2">Não </mat-radio-button><br>
                        <mat-radio-button (click)="add(3)" value="3">Não se aplica</mat-radio-button><br>
                    </mat-radio-group>
                </div>
                 <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="quartoFormGroup">
            <form [formGroup]="quartoFormGroup">
                <ng-template matStepLabel></ng-template>
                <div class="text-center">
                    <mat-label class="titulos text-center"><strong>{{questoes.survey[3].typeDescription}}</strong></mat-label><br>
                </div>
                <mat-label><strong>Existe uma atenção especial aos :</strong></mat-label><br>
                	
                <div *ngFor="let questao of questoes?.survey[3]?.questionDescription"> 
                    <mat-label><strong>{{questao}}</strong></mat-label><br>
                    <mat-radio-group aria-label="Select an option" formControlName="quartoCtrl">
                        <mat-radio-button (click)="add(1)" value="1">Sim</mat-radio-button><br>
                        <mat-radio-button (click)="add(2)" value="2">Não </mat-radio-button><br>
                        <mat-radio-button (click)="add(3)" value="3">Não se aplica</mat-radio-button><br>
                    </mat-radio-group>
                </div>
                 <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="quintoFormGroup">
            <form [formGroup]="quintoFormGroup">
                <ng-template matStepLabel></ng-template>
                <div class="text-center">
                    <mat-label class="titulos text-center"><strong>{{questoes.survey[4].typeDescription}}</strong></mat-label><br>
                </div>
                <div *ngFor="let questao of questoes?.survey[4]?.questionDescription"> 
                    <mat-label><strong>{{questao}}</strong></mat-label><br>
                    <mat-radio-group aria-label="Select an option" formControlName="quintoCtrl">
                        <mat-radio-button (click)="add(1)" value="1">Sim</mat-radio-button><br>
                        <mat-radio-button (click)="add(2)" value="2">Não </mat-radio-button><br>
                        <mat-radio-button (click)="add(3)" value="3">Não se aplica</mat-radio-button><br>
                    </mat-radio-group>
                </div>
                 <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="sextoFormGroup">
            <form [formGroup]="sextoFormGroup">
                <ng-template matStepLabel></ng-template>
                <div class="text-center">
                    <mat-label class="titulos text-center"><strong>{{questoes.survey[5].typeDescription}}</strong></mat-label><br>
                </div>
                <div *ngFor="let questao of questoes?.survey[5]?.questionDescription"> 
                    <mat-label><strong>{{questao}}</strong></mat-label><br>
                    <mat-radio-group aria-label="Select an option" formControlName="sextoCtrl">
                        <mat-radio-button (click)="add(1)" value="1">Sim</mat-radio-button><br>
                        <mat-radio-button (click)="add(2)" value="2">Não </mat-radio-button><br>
                        <mat-radio-button (click)="add(3)" value="3">Não se aplica</mat-radio-button><br>
                    </mat-radio-group>
                </div>
                 <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="setimoFormGroup">
            <form [formGroup]="setimoFormGroup">
                <ng-template matStepLabel></ng-template>
                <div class="text-center">
                    <mat-label class="titulos text-center"><strong>{{questoes.survey[6].typeDescription}}</strong></mat-label><br>
                </div>
                <div *ngFor="let questao of questoes?.survey[6]?.questionDescription"> 
                    <mat-label><strong>{{questao}}</strong></mat-label><br>
                    <mat-radio-group aria-label="Select an option" formControlName="setimoCtrl">
                        <mat-radio-button (click)="add(1)" value="1">Sim</mat-radio-button><br>
                        <mat-radio-button (click)="add(2)" value="2">Não </mat-radio-button><br>
                        <mat-radio-button (click)="add(3)" value="3">Não se aplica</mat-radio-button><br>
                    </mat-radio-group>
                </div>
                 <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="oitavoFormGroup">
            <form [formGroup]="oitavoFormGroup">
                <ng-template matStepLabel></ng-template>
                <div class="text-center">
                    <mat-label class="titulos text-center"><strong>{{questoes.survey[7].typeDescription}}</strong></mat-label><br>
                </div>
                <div *ngFor="let questao of questoes?.survey[7]?.questionDescription"> 
                    <mat-label><strong>{{questao}}</strong></mat-label><br>
                    <mat-radio-group aria-label="Select an option" formControlName="oitavoCtrl">
                        <mat-radio-button (click)="add(1)" value="1">Sim</mat-radio-button><br>
                        <mat-radio-button (click)="add(2)" value="2">Não </mat-radio-button><br>
                        <mat-radio-button (click)="add(3)" value="3">Não se aplica</mat-radio-button><br>
                    </mat-radio-group>
                </div>
                 <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="nonoFormGroup">
            <form [formGroup]="nonoFormGroup">
                <ng-template matStepLabel></ng-template>
                <div class="text-center">
                    <mat-label class="titulos text-center"><strong>{{questoes.survey[8].typeDescription}}</strong></mat-label><br>
                </div>
                <div *ngFor="let questao of questoes?.survey[8]?.questionDescription"> 
                    <mat-label><strong>{{questao}}</strong></mat-label><br>
                    <mat-radio-group aria-label="Select an option" formControlName="nonoCtrl">
                        <mat-radio-button (click)="add(1)" value="1">Sim</mat-radio-button><br>
                        <mat-radio-button (click)="add(2)" value="2">Não </mat-radio-button><br>
                        <mat-radio-button (click)="add(3)" value="3">Não se aplica</mat-radio-button><br>
                    </mat-radio-group>
                </div>
                 <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="decimoFormGroup">
            <form [formGroup]="decimoFormGroup">
                <ng-template matStepLabel></ng-template>
                <div class="text-center">
                    <mat-label class="titulos text-center"><strong>{{questoes.survey[9].typeDescription}}</strong></mat-label><br>
                </div>
                <div *ngFor="let questao of questoes?.survey[9]?.questionDescription"> 
                    <mat-label><strong>{{questao}}</strong></mat-label><br>
                    <mat-radio-group aria-label="Select an option" formControlName="decimoCtrl">
                        <mat-radio-button (click)="add(1)" value="1">Sim</mat-radio-button><br>
                        <mat-radio-button (click)="add(2)" value="2">Não </mat-radio-button><br>
                        <mat-radio-button (click)="add(3)" value="3">Não se aplica</mat-radio-button><br>
                    </mat-radio-group>
                </div>
                 <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Finalizado</ng-template>
            <p>O questionário foi finalizado, clique no botão de concluir para ter acesso a avaliação!</p>
            <div>
                <button mat-button matStepperPrevious>Voltar</button>
                <button mat-button (click)="stepper.reset()">Resetar</button>
                <button mat-button (click)="submitForm()">Concluir</button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</div>